.wrapper {
  background-color: var(--brand-deep-umber);
  height: 45px;
  padding-top: 10px;
}

.scrollableText {
  width: max-content;
  overflow: hidden;
  overflow-x: scroll;
  background-color: var(--brand-deep-umber);
  color: var(--brand-warm-white);
  margin-top: auto;
  margin-bottom: auto;
}
