/* ════ DETAIL CARD ════ */
.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imageContainer {
  margin-bottom: 16px;
  background-color: var(--l);
  border-radius: 8px;
  overflow: hidden;
}
.imageContainer img {
  width: 100%;
  height: auto;
  aspect-ratio: 2/3;
  object-fit: cover;
}

.textContainer {
  display: flex;
  flex-direction: column;
}

.textContainer span:first-child {
  font-family: var(--font-cormorant-garamond), serif;
  font-weight: 600;
  font-size: 16px;
  color: var(--s);
  margin-bottom: 4px;
}

@media screen and (max-width: 1024px) {
  .cardContainer {
    margin-bottom: 24px;
  }
  .imageContainer img {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
  }

  .textContainer {
    padding-left: 16px;
  }
}
