.crossButton {
  width: 24px; /* Width of the button */
  height: 24px; /* Height of the button */
  position: relative;
  cursor: pointer;
  background-color: transparent; /* Transparent background */
}

.crossButton::before,
.crossButton::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px; /* Width of the cross line */
  height: 2px; /* Thickness of the cross line */
  background-color: var(--text-primary);
  transform-origin: center;
  transform: translate(-50%, -50%) rotate(45deg); /* Rotate for the cross */
}

.crossButton::after {
  transform: translate(-50%, -50%) rotate(-45deg); /* Rotate the second line */
}

.crossButton:hover {
  background-color: var(--brand-old-lace);
  border-radius: 4px; /* Slight rounded corners */
}
